server:
  port: 8000

management:
  endpoints:
    web:
      exposure:
        include: prometheus,health,info,metric

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true


prometheus_uri: http://localhost:9090/api/v1/query_range