.xform-root
    .container
        width: 100%

        &.Label
            display: inline-flex

            &>.title
                flex: 0 0 70px

            &>.content
                flex: 1 1 auto

        &.Card
            &>.title
                font-weight: 800
                font-size: 20px
                padding-bottom: 5px
                border-bottom: 1px solid #0000006e

            &[data-depth="0"]
                box-sizing: border-box
                padding: 5px
                background-color: white
                box-shadow: 0px 0px 10px 1px #77777777

            &[data-depth="1"]
                &>.title
                    font-size: 18px
                    padding-bottom: 4px

            &[data-depth="2"]
                &>.title
                    font-size: 16px
                    padding-bottom: 3px
